/* QuickPicks.css */
.scrollable-section {
  overflow-x: hidden; /* Oculta la barra de desplazamiento horizontal */
  white-space: nowrap;
}

.quick-picks {
  padding: 20px;
}

.quick-picks .thumbnails {
  display: flex;
  flex-wrap: nowrap; /* Evita el salto de línea */
  gap: 5px;
}

.quick-picks .column {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.quick-picks .thumbnail {
  display: flex;
  align-items: center;
  width: 200px; /* Ajusta según sea necesario */
}

.quick-picks .thumbnail-image {
  width: 60px; /* Ajusta según sea necesario */
  height: 60px; /* Ajusta según sea necesario */
  border-radius: 8px; /* Ajusta según sea necesario */
  margin-right: 10px;
  cursor: pointer;
}

.quick-picks .thumbnail img:hover {
  opacity: 0.5;
}

.quick-picks .thumbnail-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.quick-picks .title {
  font-weight: bold;
  margin-bottom: 0px; /* Ajusta el valor según sea necesario */
  max-width: 100px; /* Ajusta el ancho máximo del contenedor de texto */
  overflow: hidden; /* Oculta el texto que se desborda */
  text-overflow: ellipsis;
}

.quick-picks .artist {
  font-size: 12px;
  color: gray;
  margin-top: 2px; /* Ajusta el valor según sea necesario */
  max-width: 100px; /* Ajusta el ancho máximo del contenedor de texto */
  overflow: hidden; /* Oculta el texto que se desborda */
  text-overflow: ellipsis;
}
