/* src/components/ListenAgain/ListenAgain.css */
.scrollable-section {
  overflow-x: hidden; /* Oculta la barra de desplazamiento horizontal */
  white-space: nowrap;
}

.listen-again {
  padding: 20px;
}

.listen-again .thumbnails {
  display: flex;
  gap: 20px; /* espacio horizontal entre miniaturas */
  margin-right: 20px; /* Añade un margen derecho explícito */
}

.listen-again .thumbnail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.listen-again .thumbnail img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}

.listen-again .thumbnail img:hover {
  opacity: 0.5;
}

.listen-again .thumbnail-info {
  text-align: left;
}

.listen-again .title {
  font-weight: bold;
}

.listen-again .artist {
  color: rgb(255, 255, 255);
}

.listen-again .genero {
  color: gray;
}
