/* src/components/ListenAgain/ListenAgain.css */
.scrollable-section {
  overflow-x: hidden; /* Oculta la barra de desplazamiento horizontal */
  white-space: nowrap;
}

.recomended-albums {
  padding: 20px;
}

.recomended-albums .thumbnails {
  display: flex;
  gap: 20px; /* espacio horizontal entre miniaturas */
  margin-right: 20px; /* Añade un margen derecho explícito */
}

.recomended-albums .thumbnail {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.recomended-albums .thumbnail img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}

.recomended-albums .thumbnail img:hover {
  opacity: 0.5;
}

.recomended-albums .thumbnail-info {
  text-align: left;
}

.recomended-albums .title {
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-bottom: 5px; /* Espacio entre el título y el artista */
  max-width: 200px; /* Ajusta el ancho máximo del contenedor de texto */
  overflow: hidden; /* Oculta el texto que se desborda */
  text-overflow: ellipsis;
}

.recomended-albums .duration {
  color: gray;
}

/* manejo del icono play sobre la miniatura */

.thumbnail {
  position: relative; /* Asegúrate de que el contenedor sea relativo */
  display: inline-block; /* Para permitir el posicionamiento absoluto */
}

.play-icon {
  position: absolute; /* Posicionamiento absoluto */
  top: 35%; /* Centrar verticalmente */
  left: 50%; /* Centrar horizontalmente */
  transform: translate(-50%, -50%); /* Centrar completamente */
  font-size: 2rem; /* Tamaño del ícono de play */
  color: white; /* Color del ícono */
  z-index: 10; /* Asegúrate de que esté encima de la imagen */
  pointer-events: none; /* Para que no interfiera con los clics */
}
