body {
  background-color: #121212;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

header {
  padding: 20px;
  text-align: center;
  background-color: #1f1f1f;
}

section {
  margin: 20px;
  padding: 20px;
  background-color: #282828;
  border-radius: 8px;
}

h1,
h2 {
  color: #e91e63;
}
