.audio-player {
  width: 99%;
  max-width: 99%;
  /*position: fixed; */
  bottom: 0;
  left: 0;
  background-color: #121212; /* Cambia este color según tus necesidades */
  border-radius: 0; /* Sin border-radius para que coincida con el borde de la pantalla */
  padding: 10px;
  box-shadow: 0 -2px 8px rgba(0, 0, 0, 0.1); /* Añade una sombra hacia arriba */
  z-index: 1000; /* Asegura que esté por encima de otros elementos */
}

.custom-player {
  display: flex;
  align-items: center;
  justify-content: right;
  background-color: #1a1b1c; /* Cambia el color de fondo aquí */
  border-radius: 0px; /* Cambia este valor según tus necesidades */
  padding: 10px;
  width: 98%;
}

.custom-player audio {
  display: none; /* Oculta el reproductor de audio nativo */
}

button {
  margin: 5px;
  padding: 10px;
  border: none;
  background-color: #0c0c0c; /* Cambia el color de fondo del botón aquí */
  color: #ffffff; /* Cambia el color del texto aquí */
  border-radius: 5px; /* Cambia este valor según tus necesidades */
  cursor: pointer;
}

.custom-player button:hover {
  background-color: #343030;
}
